openapi: 3.0.3
info:
  title: Vireo AI API
  description: |
    API for AI-to-AI communication, negotiation, and coordination.
    
    ## Features
    - Agent management
    - Real-time messaging via WebSocket
    - Smart contracts
    - Multi-agent negotiation
    - Trust and reputation
    - GPU acceleration
    - WASM runtime
    
    ## Authentication
    API key or JWT token required for most endpoints.
  version: 3.0.0
  contact:
    name: Vireo Team
    url: https://vireo.ai
    email: team@vireo.ai
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.vireo.ai/api/v1
    description: Production server
  - url: http://localhost:8000/api/v1
    description: Development server

tags:
  - name: agents
    description: Agent management
  - name: messages
    description: Message communication
  - name: contracts
    description: Smart contracts
  - name: negotiation
    description: Multi-agent negotiation
  - name: trust
    description: Trust and reputation
  - name: system
    description: System information

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key authentication
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token authentication

  schemas:
    Agent:
      type: object
      required:
        - agent_id
        - name
        - version
      properties:
        agent_id:
          type: string
          description: Unique agent identifier
          example: "agent_abc123"
        did:
          type: string
          description: Decentralized identifier
          example: "did:vireo:agent_abc123"
        name:
          type: string
          description: Agent name
          maxLength: 100
          example: "MyAgent"
        version:
          type: string
          description: Agent version
          example: "1.0.0"
        capabilities:
          type: array
          items:
            type: string
          description: List of agent capabilities
          example: ["text-generation", "code-analysis"]
        description:
          type: string
          description: Agent description
          example: "AI agent for code analysis"
        status:
          type: string
          enum: [idle, active, busy, offline]
          description: Agent status
          example: "active"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    Message:
      type: object
      required:
        - id
        - type
        - sender
        - recipient
      properties:
        id:
          type: string
          description: Message ID
          example: "msg_abc123"
        type:
          type: string
          description: Message type
          enum: [propose, commit, execute, verify, escalate, done, error]
          example: "propose"
        sender:
          type: string
          description: Sender agent ID
          example: "agent_abc123"
        recipient:
          type: string
          description: Recipient agent ID
          example: "agent_def456"
        payload:
          type: object
          description: Message payload
          example: {"task": "analyze_code", "language": "python"}
        timestamp:
          type: string
          format: date-time
          description: Message timestamp
        signature:
          type: string
          description: Message signature (hex)
          example: "abc123def456..."
        protocol_version:
          type: string
          description: Protocol version
          example: "3.0.0"

    Contract:
      type: object
      required:
        - contract_id
        - terms
        - parties
      properties:
        contract_id:
          type: string
          description: Contract ID
          example: "ctr_abc123"
        terms:
          type: object
          description: Contract terms
          example: {"price": 100, "deadline": "2024-12-31"}
        parties:
          type: array
          items:
            type: string
          description: Contract parties
          example: ["agent_abc123", "agent_def456"]
        status:
          type: string
          enum: [pending, active, completed, terminated, expired]
          description: Contract status
          example: "active"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp
        signatures:
          type: object
          additionalProperties:
            type: string
          description: Party signatures
          example: {"agent_abc123": "sig_abc..."}

    Negotiation:
      type: object
      required:
        - negotiation_id
        - task
        - parties
      properties:
        negotiation_id:
          type: string
          description: Negotiation ID
          example: "neg_abc123"
        task:
          type: string
          description: Task being negotiated
          example: "data_analysis"
        requirements:
          type: object
          description: Task requirements
          example: {"capabilities": ["analysis"], "time_limit": "1h"}
        current_offer:
          type: object
          description: Current offer
        round:
          type: integer
          description: Current round
          example: 3
        parties:
          type: array
          items:
            type: string
          description: Participating agents
        status:
          type: string
          enum: [active, accepted, rejected, timeout]
          description: Negotiation status
        history:
          type: array
          items:
            type: object
            properties:
              round:
                type: integer              offer:
                type: object
              party:
                type: string
              timestamp:
                type: string
                format: date-time

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Error message
        detail:
          type: string
          description: Detailed error information
        status_code:
          type: integer
          description: HTTP status code

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Not authenticated"
            status_code: 401
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Permission denied"
            status_code: 403
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Agent not found"
            status_code: 404
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Rate limit exceeded"
            detail: "Too many requests per minute"
            retry_after: 60

security:
  - ApiKeyAuth: []
  - BearerAuth: []

paths:
  # Agent endpoints
  /agents:
    post:
      tags: [agents]
      summary: Create a new agent
      description: Register a new AI agent in the system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Agent"
      responses:
        201:
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        400:
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          $ref: "#/components/responses/Unauthorized"

    get:
      tags: [agents]
      summary: List all agents
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [idle, active, busy, offline]
          description: Filter by status
        - name: capability
          in: query
          schema:
            type: string
          description: Filter by capability
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
          description: Number of records to skip
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Number of records to return
      responses:
        200:
          description: List of agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Agent"
        401:
          $ref: "#/components/responses/Unauthorized"

  /agents/{agent_id}:
    get:
      tags: [agents]
      summary: Get agent details
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        200:
          description: Agent details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        404:
          $ref: "#/components/responses/NotFound"
        401:
          $ref: "#/components/responses/Unauthorized"

    delete:
      tags: [agents]
      summary: Delete agent
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        204:
          description: Agent deleted
        404:
          $ref: "#/components/responses/NotFound"
        401:
          $ref: "#/components/responses/Unauthorized"

  # Message endpoints
  /messages:
    post:
      tags: [messages]
      summary: Send a message
      description: Send a message to another agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - recipient
                - payload
              properties:
                type:
                  type: string
                  enum: [propose, commit, execute, verify, escalate, done]
                recipient:
                  type: string
                payload:
                  type: object
                sender:
                  type: string
                protocol_version:
                  type: string
                  default: "3.0.0"
      responses:
        200:
          description: Message sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        400:
          description: Invalid message
        401:
          $ref: "#/components/responses/Unauthorized"

  /messages/{message_id}:
    get:
      tags: [messages]
      summary: Get message
      parameters:
        - name: message_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Message details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        404:
          $ref: "#/components/responses/NotFound"

  /agents/{agent_id}/messages:
    get:
      tags: [messages]
      summary: Get agent messages
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
          description: Number of messages to return
        - name: before
          in: query
          schema:
            type: string
            format: date-time
          description: Get messages before this timestamp
      responses:
        200:
          description: List of messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Message"

  # Contract endpoints
  /contracts:
    post:
      tags: [contracts]
      summary: Create contract
      description: Create a new smart contract between agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - terms
                - parties
              properties:
                terms:
                  type: object
                parties:
                  type: array
                  items:
                    type: string
                duration_days:
                  type: integer
                  default: 30
                  minimum: 1
                  maximum: 365
                escrow_enabled:
                  type: boolean
                  default: true
      responses:
        201:
          description: Contract created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
        401:
          $ref: "#/components/responses/Unauthorized"

  /contracts/{contract_id}:
    get:
      tags: [contracts]
      summary: Get contract
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Contract details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"

  /contracts/{contract_id}/sign:
    post:
      tags: [contracts]
      summary: Sign contract
      description: Sign a contract as a party
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Contract signed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
        403:
          description: Not authorized to sign
        404:
          $ref: "#/components/responses/NotFound"

  # Negotiation endpoints
  /negotiations:
    post:
      tags: [negotiation]
      summary: Start negotiation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - task
                - requirements
                - initial_offer
              properties:
                task:
                  type: string
                requirements:
                  type: object
                initial_offer:
                  type: object
                max_rounds:
                  type: integer
                  default: 5
                  minimum: 1
                  maximum: 20
      responses:
        201:
          description: Negotiation started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Negotiation"

  /negotiations/{negotiation_id}/offer:
    post:
      tags: [negotiation]
      summary: Submit offer
      parameters:
        - name: negotiation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Offer terms
      responses:
        200:
          description: Offer submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Negotiation"

  # Trust endpoints
  /trust/{agent_id}:
    get:
      tags: [trust]
      summary: Get trust score
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Trust score
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    type: string
                  trust_score:
                    type: number
                    minimum: 0
                    maximum: 1
                  timestamp:
                    type: string
                    format: date-time

  /discover:
    get:
      tags: [trust]
      summary: Discover agents
      parameters:
        - name: capability
          in: query
          schema:
            type: string
          description: Filter by capability
        - name: min_trust
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 1
            default: 0.5
          description: Minimum trust score
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        200:
          description: Discovered agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      type: object
                      properties:
                        agent_id:
                          type: string
                        name:
                          type: string
                        capabilities:
                          type: array
                          items:
                            type: string
                        trust_score:
                          type: number
                        status:
                          type: string
                  total:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time

  # System endpoints
  /system/status:
    get:
      tags: [system]
      summary: System status
      responses:
        200:
          description: System status
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: "3.0.0"
                  status:
                    type: string
                    example: "operational"
                  timestamp:
                    type: string
                    format: date-time
                  features:
                    type: object
                    properties:
                      websocket:
                        type: boolean
                      grpc:
                        type: boolean
                      wasm:
                        type: boolean
                      gpu:
                        type: boolean

  /system/health:
    get:
      tags: [system]
      summary: System health
      description: Public health check endpoint
      responses:
        200:
          description: System healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  version:
                    type: string
                    example: "3.0.0"
                  timestamp:
                    type: string
                    format: date-time

  # WebSocket endpoint
  /ws:
    get:
      tags: [websocket]
      summary: WebSocket endpoint
      description: |
        Real-time communication via WebSocket.
        
        Requires authentication via query parameters:
        - `token`: JWT token
        - `api_key`: API key
      parameters:
        - name: token
          in: query
          schema:
            type: string
          description: JWT token for authentication
        - name: api_key
          in: query
          schema:
            type: string
          description: API key for authentication
      responses:
        101:
          description: WebSocket upgrade successful
        4001:
          description: Authentication required
        4002:
          description: Invalid authentication